VITE_SUPABASE_URL=https://lsprontynrmijlielnlh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzcHJvbnR5bnJtaWppbGVsbmxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NDI3NjQsImV4cCI6MjA5NzQxODc2NH0.V8OIv8OAqtGJLl51oGtC9yAlZXMjgI7mz_yweLGBy5g
VITE_API_URL=http://localhost:3001


#database password : sajal9131-*
