SUPABASE_URL=https://lsprontynrmijlielnlh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzcHJvbnR5bnJtaWppbGVsbmxoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTg0Mjc2NCwiZXhwIjoyMDk3NDE4NzY0fQ.b5V-So8NRWN-TOxnrQIw5lbfA9SysatO2g7csPrlK5M
FRONTEND_URL=http://localhost:5173
